@charset "UTF-8";

/*Todas as demais mídias*/

/*Typical Device Breakpoints

para:

    Pequenas Telas: 0-320px
    Celular: 320-480px
    Tablets e Ipads: 481-768px
    Notebooks and Desktop: 769-1200px
    Grandes Telas: acima de 1200px

*/

@media print{

}

@media screen and (min-width: 481px) and (max-width: 769px){
body{
    background-image: url('../imagens/back-tablet.jpg');
    }

img#phone{display: none;}
img#tablet{display:block;}
img#print{display:none;}
img#pc{display:none;}
img#tv{display:none;}
}