@charset "UTF-8";

/*Todas as demais mídias*/

/*Typical Device Breakpoints

para:

    Pequenas Telas: 0-320px
    Celular: 320-460px
    Tablets e Ipads: 461-768px
    Notebooks and Desktop: 769-1400px
    Grandes Telas: acima de 1400px

*/

@media print{
    body{
        background-image: url('../imagens/back-print.jpg');
    }

    img#phone{display: none;}
    img#tablet{display:none;}
    img#print{display:block;}
    img#pc{display:none;}
    img#tv{display:none;}
}

@media screen and (min-width: 461px) and (max-width: 769px){
body{
    background-image: url('../imagens/back-tablet.jpg');
    }

    img#phone{display: none;}
    img#tablet{display:block;}
    img#print{display:none;}
    img#pc{display:none;}
    img#tv{display:none;}
}

@media screen and (min-width: 769px) and (max-width: 1400px){
    body{
        background-image: url('../imagens/back-pc.jpg');
    }

    img#phone{display: none;}
    img#tablet{display:none;}
    img#print{display:none;}
    img#pc{display:block;}
    img#tv{display:none;}
}

@media screen and (min-width: 1400px){
    body{
        background-image: url('../imagens/back-tv.jpg');
    }

    main{
        width: 800px;
    }

    img#phone{display: none;}
    img#tablet{display:none;}
    img#print{display:none;}
    img#pc{display:none;}
    img#tv{display:block;}
}