@charset "UTF-8";

/*Configs Gerais*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url('../imagens/back-phone.jpg') center center no-repeat;
    background-size: cover;
    width: 90vw;
}

main{
    background: rgba(255, 255, 255, 0.8);
    width: 300px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;}
img#tablet{display:none;}
img#print{display:none;}
img#pc{display:none;}
img#tv{display:none;}