@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #008F8C, #C7FFED, #D8FFDB);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(1, 89, 88, 0.658);
    width: 450px;
    padding: 15px;
    margin:auto;
}

h1{
    color: #015958;
    text-align: center;
    text-shadow: 1px 1px 3px #015958;

}

h2{
    color: #023535;

}

p{
    text-align: justify;
}
